defaults:
  - _self_
  - exp: null # config to load
  - override hydra/hydra_logging: colorlog
  - override hydra/job_logging: colorlog

seed: 12345
train: True
ignore_warnings: True
print_config: False # Prints tree with all configurations
work_dir: ${hydra:runtime.cwd}  # This is the root of the project
logs_dir: ${work_dir}${oc.env:DIR_LOGS}  # This is the root for all logs
data_dir: ${work_dir}${oc.env:DIR_DATA} # This is the root for all data
ckpt_dir: ${logs_dir}/runs/${now:%Y-%m-%d-%H-%M-%S}

# Hydra experiment configs log dir
hydra:
  run:
    dir: ${ckpt_dir} # save in same dir as ckpts
